$screen-sizes: (
    'desktop-width': 1920px,
    'tablet-landscape-width': 1280px,
    'tablet-width': 1023px,
    'mobile-width': 414px,
    'mobile-landscape-width': 767px,

    'sm': 639px, // origianlly 640px
    'md': 767px, // origianlly 768px
    'lg': 1023px, // origianlly 1024px
    'xl': 1279px, // origianlly 1280px
    '2xl': 1535px // origianlly 1536px
);
$all-colors: (
    'primary': #fcfcfc,
    'secondary': #42c12d,
    'accent': #ffb628,
    'text': #969696
);
$font-weights: (
    'light': 200,
    'semilight': 300,
    'regular': 400,
    'medium': 500,
    'semibold': 600,
    'bold': 700
);
$font-sizes: (
    'xx-small': 9px,
    'x-small': 10px,
    'small': 13px,
    'regular': 14px,
    'medium': 16px,
    'large': 18px,
    'x-large': 24px,
    'xx-large': 32px
);

@function color($color) {
  @return map-get($all-colors, $color);
}
@function font-weight($weight) {
  @return map-get($font-weights, $weight);
}
@function font-size($size) {
  @return map-get($font-sizes, $size);
}
@function screen-size($size) {
    @return map-get($screen-sizes, $size);
}